# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. SciKit-Learn
8. PyTorch

| Data Science Tools |
| :----------------: |
| Apache Hadoop |
| Apache Spark |
| SAS |
| Python |
| R |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
This a simple arithmetic expression to mutiply then add integers

In [70]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [2]:
(200/60)

3.3333333333333335

**Objectives**

* How to create a Jupyter Notebook
* How insert code and markdown cells
* When to use markdown and code attribute
* What are the popular languages for Data Science
* What libraries used by Data Scientists
* List of data science tools

## Author
Eshetu Lemma Haile